body {background-image:url('bg.png');}

img.img-circle-avatar{
border-radius:50%;
height: 40px;
width: 40px;
float: left;
display: flex;
align-items: center;
}
.loading-text{
	display: flex;
	vertical-align: middle;
	line-height: 40px;
	text-align: center;
	padding-left: 10px;
}

.toolbar{
	padding:10px;
}
.loader{
            border:5px solid #f3f3f3;
            border-radius:50%;
            border-top:5px solid #2e8e9a;
            width:40px;
            height:40px;
            display: flex;
            align-items: center;
            float: left;
            /* animation-name:load; */
            animation:load 1s linear infinite;
        }
        @keyframes load{
            0%{
                transform: rotate(0deg);
            }
            100%{
                transform:rotate(360deg);
            }
        }

a:link{
    text-decoration: none;  
}
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.footbar-text{
    color:#777777;
    text-align:right;
    padding-right: 20px;
}

.diff-border{
	color: #000;
    font-size: 1.25em;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    text-align: center;
}
.levelStyle{
	font-size: 1.75rem;
}

.diff-ex{background-color:#FF898B;}
.diff-sp{background-color:#F383CB;}
.diff-full{background-color:#FF898B;}

h2{
	font-weight: 300;
}

a.btn-whatsthis{
    color: #000;
    font-size: 1.25em;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}
.list-group-item {
	background-color: transparent;
}
a.btn-help{
	cursor: pointer;
	text-decoration: none;
	color:#777;
	border-radius: 50%;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    height: 20px;
    width: 20px;
    border-width: 1px; 
    border-style: solid;
	
}
.site-link{
text-align: center;
}
.rowpadding{
	padding-top: 20px;
}
#btnRandomBar{
	padding-top: 5px;
}